<h1> </h1>

<h2> All <%= @list.name %> movies </h2>

<% @list.movies.each do |movie| %>
    <%=  movie.title %>
    <%=  movie.overview %>
    <%=  movie.poster_url %>
    <%=  movie.rating %>
  <% end %>
